.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid black;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  z-index: 99;
}
.links {
  display: flex;
  gap: 12px;
  justify-content: center;
}
