/* header styles */
.header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
}
.header p {
  font-size: 24px;
  align-items: flex-start;
  margin-left: 25px;
  flex-grow: 1;
}
