@use './variables' as *;

button {
  font-family: 'Inter', Arial, sans-serif;
  margin-left: 15px;
  padding: 8px 12px;
  font-size: 16px;
  align-items: flex-end;
  display: flex;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
}

.button--borderless {
  background-color: transparent;
  color: black;
}

mat-dialog-container {
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
