@import '@angular/material/prebuilt-themes/indigo-pink.css';

$header-height: 96px;
$footer-height: 145px;

button {
  font-family: 'Inter', Arial, sans-serif;
  margin-left: 15px;
  padding: 8px 12px;
  font-size: 16px;
  align-items: flex-end;
  display: flex;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
}

.button--borderless {
  background-color: transparent;
  color: black;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
